@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Sriracha&display=swap&subset=vietnamese");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-height: 100vh;
}

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FileReader {
  display: none;
}

.textarea-intro {
  width: auto;
  background-color: #f44336;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(242, 242, 242, 0.5);
  font-weight: bold;
  font-family: "Sriracha", cursive;
  background-clip: text;
  padding: 0.5rem;
}

#input {
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
  resize: none;
  font-family: "Open Sans", sans-serif;
  padding: 0.75rem;
  border: none;
  font-size: 1.2rem;
}

.selecte-answer-container {
  display: none;
  padding: 0.75rem;
  padding-top: 0.75rem !important;
  margin: 0;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.selected-text {
  border-radius: 0.5rem;
  padding: 0 0.3rem 0 0.3rem;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.back-btn  {
  display: none;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  border-radius: 1rem;
}
